a.text{
    text-decoration: none;
    color: black;

}
a.text:hover{
    color:#c70303;

}

#navigation {
    list-style: none;
    background: #1a1a1a;
    overflow: hidden;
    width: 1178px;
    padding-left: 80px;
}
#navigation li {
    float: left;
    border-right: solid 1px #2e2e2e;
    height: 35px;
}

#navigation li a:link, #navigation li a:visited {
    text-decoration: none;
    display: block;
    height: 35px;
    color: #808080;
    line-height: 35px;
    padding: 0 9px 0 9px;
    border-right: solid 1px #1a1a1a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
#navigation li a:hover {
    color: #bfbfbf;
}
#navigation li.first {
    border-left: solid 1px #2e2e2e;
}
#list{
    list-style: none;
    padding: 0;
    margin: 0;
}
#list li a:link, #list li a:visited{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #4d4d4d;
}
#list li a:hover{
    color: #da0000;
}
.container {
    position: relative;
    text-align: center;
}
.textBox {
    padding: 10px;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color:#d1d1d1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}    
#img-pos{
    padding: 7px;
}